<!DOCTYPE html>
<html>

<head>
    <title>Password Generated</title>
</head>

<body>
    <h1>Password Generated</h1>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>App/Website Name:</strong> {{ appName }}</p>
    <p><strong>Password:</strong> <input type="text" value="{{ password }}" readonly id="passwordField"></p>
    <button onclick="copyPassword()">Copy Password</button>

    <script>
        function copyPassword() {
            var passwordField = document.getElementById('passwordField');
            passwordField.select();
            document.execCommand('copy');
            alert('Password copied to clipboard!');
        }
    </script>
</body>

</html>